body {
  background-image: url('../../public/images/fond.jpg');
  background-size: cover;
}
img {
  border-radius: 10px;
}
.carteCocktail{
  filter: sepia(0.3);
  filter: hue-rotate(120deg);
}
.cartePlat{
  filter: sepia(0.3);
  filter: hue-rotate(240deg);
}

.theme--light.v-application {
  background-color: #00000000 !important;
}
.text-sm-center.text--white {
    color: white;
}
.info, .image{
    position:absolute;
    -webkit-transition: -webkit-transform 1s , z-index 0s 1s;

}

.info{padding:10px;
    width: 160px;
    height: 160px;
    z-index: -2;
    -webkit-transform: rotateY(180deg);
    background-color: rgba(255,255,255,0.8);

}
.image{
    z-index: -1;
    -webkit-transition: -webkit-transform 1s, z-index 0s 1s;
    -webkit-transform: rotateY(0deg);
}

.rotator{

    width:160px;
    height: 160px;
}

.rotator .info{
    -webkit-transition: -webkit-transform 1s, z-index 0s 1s;
    z-index: -1;
    -webkit-transform: rotateY(0deg);

}
.rotator  .image{
    -webkit-transform: rotateY(180deg);
    -webkit-transition: -webkit-transform 1s, z-index 0s 1s;
    z-index: -2;
}
